@use "/styles/font" as *;

.main {
    background: linear-gradient(
        180deg,
        #000f19 0%,
        #010c14 0.01%,
        #000f19 100%
    );
    padding: var(--navbar-height) 0 2em;
}

.engagingSection {
    position: relative;
    transition: max-width 400ms ease-in-out, padding 600ms ease-in-out;
}

.engagingImage {
    min-height: 25vh;
    & img {
        width: 100%;
        max-height: 40vmax;
        min-height: inherit;
        object-fit: cover;
        filter: sepia(100%) saturate(150%) hue-rotate(170deg) contrast(110%)
            brightness(45%);
    }
}

.engagingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %h3;
    font-size: calc(2em + 1.1vw);
    text-align: center;
    width: 80%;
}

.contactFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1.5em;
}

@media only screen and (min-width: 700px) {
    .engagingImage {
        & img {
            max-height: 50vmax;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.2) 47.71%,
                rgba(0, 0, 0, 0) 100%
            ),
            #000f1a;
        padding-inline: 1em;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        max-width: 1080px;
        margin: 0 auto;

        & > * {
            flex: 1;
        }
    }

    .engagingSection {
        flex: 1;
        width: 100%;
        max-width: 450px;
        // & > * {
        //     max-width: 500px;
        //     margin-inline: auto;
        // }
    }

    .engagingImage {
        height: 100%;
        min-height: 50vh;
        & img {
            // aspect-ratio: 0.5;
            // max-height: none;
            max-height: 600px;
            height: 100%;
            border-radius: 9999px;
        }
    }
    .engagingText {
        transform: translate(-50%, -50%);
        font-size: 3em;
    }
    .contactFormContainer {
    }
}
