@mixin font(
    $size: inherit,
    $family: inherit,
    $weight: inherit,
    $line-height: inherit,
    $letter-spacing: inherit,
    $case: inherit
) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $case;
}
