@mixin font(
    $size,
    $family,
    $weight,
    $line-height,
    $letter-spacing,
    $case: initial
) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $case;
}
