.about {
    padding: 6.25em 0;
    background: #00090f;
    background: url("/about-bg.png") no-repeat center;
    color: #f9f9f9;
    z-index: 1;
    position: relative;
    transition: padding 500ms ease-in-out;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: radial-gradient(
                54.76% 54.76% at 50% 45.24%,
                rgba(0, 0, 0, 0) 32.91%,
                rgba(0, 9, 15, 0.6) 100%
            ),
            hsla(0, 0%, 0%, 0.6);
    }
}
.container {
    width: 90%;
    margin-inline: auto;
    max-width: 520px;
    font-size: 1em;
}

.content {
    margin-top: 1.25em;
    text-align: left;
    margin-bottom: 2.25em;
    line-height: 1.5em;
    & > * + * {
        margin-top: 1em;
    }
}

.cta {
    --border-width: 1px;
    display: block;
    width: fit-content;
    padding: 16px 32px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    max-width: 280px;
    background: #000;
    background: transparent;
    border: var(--border-width) solid #e0e0e0;
    color: #e0e0e0;
    border-radius: 999px;
}

// @media only screen and (min-width: 768px) {
//     .about {
//         padding: 4em 0 8em;
//     }
//     .container {
//         width: 80%;
//         font-size: 1.25em;
//     }
//     .rowsContainer {
//         text-align: left;
//         gap: 7em;
//     }
//     .row {
//         flex-direction: row;
//         & > * {
//             flex: 50%;
//         }
//         &:nth-child(2n + 1) {
//             .rowImg {
//                 order: 2;
//             }
//         }
//         &Img {
//             width: 80%;
//             max-width: 100%;
//             max-height: 200px;
//         }
//         &Content {
//             align-items: flex-start;
//         }
//         &Desc {
//             max-width: 430px;
//         }
//     }
// }
