.hero {
    background: #00090f;

    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    // padding-top: var(--navbar-height);
    min-height: max(600px, 100vh);
    transition: padding 500ms ease-in-out;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &::before {
        background: url("/static/hero-bg.jpg") no-repeat center;
        background-size: cover;
        filter: sepia(100%) saturate(150%) hue-rotate(170deg) contrast(120%);
    }
    &::after {
        background: hsla(0, 0%, 0%, 0.6);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 95%;
    font-size: 1rem;
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 3.25em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

    line-height: 1.15em;
    transition: font-size 500ms ease-out, letter-spacing 500ms ease-out;
    @media only screen and (min-width: 600px) {
        font-size: clamp(3.5em, 8vw, 4.5em);
        letter-spacing: clamp(0.1em, 0.4em, 0.6em);
    }
}

.slogan {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    line-height: 1.2em;
    margin-top: 0.25em;
    transition: font-size 500ms ease-out, letter-spacing 500ms ease-out;
    @media only screen and (min-width: 600px) {
        font-size: 1.25em;
    }
}

.para {
    // display: none;
    width: 90%;
    margin-top: 0.5em;
    opacity: 0.8;
    color: #cdcdcd;
    font-size: 1em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-top: 1em;
    max-width: 580px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    transition: gap 500ms ease-in-out, letter-spacing 500ms ease-in-out;
    margin-top: 2em;
    line-height: 1.5em;
    // & > * {
    //     text-transform: uppercase;
    //     box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    //     border-radius: 999px;
    //     padding: 1em 2em;
    //     font-weight: 500;
    //     letter-spacing: 0.1em;
    // }
    @media only screen and (min-width: 600px) {
        flex-direction: row;
        gap: 3em;
    }
}

// .cta {
//     background: #004a80;
//     background: var(--primary-gradient);

//     font-size: 1em;
//     border-radius: 999px;
//     // transition: box-shadow 300ms ease-in-out;
//     &:hover {
//         // transform: scale(1.01);
//     }
// }

// .secondaryBtn {
//     --border-width: 1px;
//     background: #000;
//     background: transparent;
//     border: var(--border-width) solid white;
//     text-decoration: none;
//     transition: background 300ms ease-in-out, transform 300ms ease-in-out;
//     &:hover {
//         background: hsla(0, 0%, 100%, 0.15);
//     }
// }
