.services {
    background: #00090f;
    position: relative;
    z-index: 1;
    color: #f9f9f9;
    padding: 6.25em 0 7.5em;
    transition: padding 500ms ease-in-out, font-size 500ms ease-in-out;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &::before {
        background: url("/static/services-bg.jpg") no-repeat center;
        background-size: cover;
        // filter: saturate(150%) contrast(120%);
    }
    &::after {
        background: radial-gradient(
                54.76% 54.76% at 50% 45.24%,
                rgba(0, 0, 0, 0) 32.91%,
                rgba(0, 9, 15, 0.8) 100%
            ),
            hsla(0, 0%, 0%, 0.6);
    }
}

.container {
    width: 90%;
    margin-inline: auto;
    max-width: 1300px;
}

.heading {
    text-align: center;
    & > * + * {
        margin-top: 0.25em;
    }
}

.rowsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.75em;
    gap: 3.75em;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    flex-grow: 0;

    & > * {
        margin-inline: auto;
    }

    &Content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }

    &Img {
        // width: 60%;
        // max-height: 150px;
        // max-width: 400px;

        position: relative;
        & img {
            // margin-inline: auto;
            // max-height: inherit;
        }

        // glow effect around the img
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 999px;
            box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.5),
                0 0 32px 4px hsla(205, 100%, 45%, 1);
        }
    }

    &Title {
        font-size: 1.75em;
        font-weight: 700;
        margin-top: 0.75em;
    }
    &Desc {
        font-size: 1em;
        opacity: 0.8;
        max-width: 400px;
        line-height: 1.4;
        margin-top: 0.5em;
    }
}

@media only screen and (min-width: 768px) {
    .services {
        padding: 8em 0;
    }

    .rowsContainer {
        column-gap: 2em;
        align-items: flex-start;
    }
}
@media only screen and (min-width: 1400px) {
    .services {
        padding: 12em 0;
    }
    .rowsContainer {
        flex-wrap: nowrap;
        // gap: 4em;
    }
}
