:export {
    primaryBtnClass: btn-primary;
    primaryBtnSmallClass: btn-primary--small;
    primaryBtnLargeClass: btn-primary--large;
    secondaryBtnClass: btn-secondary;
    secondaryBtnSmallClass: btn-secondary--small;
    secondaryBtnLargeClass: btn-secondary--large;
}
